.section-main-contact {
    height: 25vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--var-color_gray);
}

@media only screen and (max-width: 850px) {
    .section-main-contact {
        height: 100vh;
    }
    .section-main-contact {
        height: 100vh;
    }
}
@media only screen and (max-width: 650px) {
    .section-main-contact {
        height: 50vh;
    }
    .section-main-contact {
        height: 50vh;
        flex-direction: column;
    }
}
