.headline-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--var-color_white);
    margin-top: -1.3rem;
    padding-bottom: 0rem;
}

.headline {
    background-color: var(--var-color_headline) !important;
    margin-left: 1rem !important;
}
.video {
    width: 100%;
    height: 65vh;
    object-fit: cover;
}

#canvas-container {
    padding: 2rem;
}

@media only screen and (orentation: landscape) {
    .video {
        height: 65vh;
    }
}

@media only screen and (max-width: 850px) {
    .video {
        height: 100vh;
    }
    #canvas-container {
        padding: 1rem;
    }
}
