/* border: 3px solid red; */

.navigation {
    /* border: 3px solid yellow; */
    background-color: var(--var-color_one);
    /* background-color: transparent; */
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-modal {
    top: 0 !important;
    left: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    animation: appear 0.4s;
    z-index: 1;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.navigation-title a {
    display: flex;
    color: var(--var-color_white);
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem;
    text-decoration: none;
    z-index: 100;
}
.top-main {
    position: relative;
}

.navigation-title-modal a {
    top: 0 !important;
    left: 0;
    position: absolute;
    color: black;
}
#link {
    font-size: 5rem;
    padding: 4rem;
    /* animation: slide-in infinite; */
}
#link:hover {
    color: var(--var-color_white);
    z-index: 100 !important;
}

.link-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.link-container > a {
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    color: var(--var-color_two);
    padding: 3rem;
    text-decoration: none;
}

.bg_slider {
    --initialTextColor: var(--var-color_white);
    --slideTextColor: var(--var-color_black);

    --initialBgColor: transparent;
    --slideBgColor: var(--var-color_black);

    color: var(--initialTextColor);

    background-image: linear-gradient(
        90deg,
        var(--initialBgColor) 0%,
        var(--initialBgColor) 50%,
        var(--slideBgColor) 50%,
        var(--slideBgColor) 100%
    );
    background-size: 300%, 250%, 300%;
    transition: background-position 0.2s cubic-bezier(0.47, 0.1, 1, 0.63),
        color 0.2s linear;

    transition-delay: 0s, 0.15s;
}

.bg_slider:hover {
    color: var(--initialTextColor);
    cursor: pointer;
    background-position: -50% 100%;
}

.navigation-burger {
    /* border: 3px solid yellow; */
    position: absolute;
    right: 0;
    padding: 1rem;
    cursor: pointer;
    z-index: 3;
    display: inline-block;
}
.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--var-color_white);
    margin: 6px 0;
    transition: 0.5s;
}

.login-logo {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0.5rem;
    right: 0.5rem;
    width: 1.3rem;
    height: 1.3rem;
    border: 1px solid var(--var-color_two);
    border-radius: 50%;
    text-decoration: none;
    font-weight: 300;
    font-size: 1.33rem;
    color: var(--var-color_two);
    z-index: 100;
}

@media only screen and (max-width: 850px) {
    .navigation-title {
        font-size: 1rem;
    }
    #link {
        font-size: 2rem;
        padding: 2.5rem;
    }
}
